/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body{
  background-color: #fff;
}
html{
  background-color: #506a85;
}

#form{
  background-color: #506a85;
  color:#fff;
}
h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
p, a, input, label{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size:16px;
}

/*** Header ***/

header{
  width:100%;
  height:100vh;
  position: relative;
  text-align: center;
  color:#fff;
  overflow: hidden;

}

header .inner{
  position: absolute;
  /* background-color: #506a85; */
  background:#506a85 url('../images/poyta3.png') no-repeat left bottom;
  background-size: cover ;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}
.speaker{
  position: absolute;
  bottom:14vh;
  left:500px;
  animation-name: speakerAnim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes speakerAnim {
  0% {transform: rotateZ(0deg)}
  5% {transform: rotateZ(0.7deg)}
  10% {transform: rotateZ(0deg)}
  15% {transform: rotateZ(-0.7deg)}
  20% {transform: rotateZ(0deg)}
  100% {transform: rotateZ(0deg)}
}
.center-text{
  padding-top:100px;
}

@media screen and (min-height:801px){
  .speaker{
    width:500px;
  }

}
@media screen and (max-height:800px){
  .speaker{
    width:400px;
    left:35%;
  }

}
@media screen and (max-width:767px){
  .speaker{
    display:none;
  }
  header .inner{
    background-image: url('../images/header-mobiili.png');
  }
}

/*** Header ends ***/

/*** Main ***/

main{
  text-align: center;
  padding-top:60px;
  padding-bottom:60px;
}
hr{
  margin-top:45px;
}

/*** Main ends ***/

/*** Game ***/

.game{
  padding-top:60px;
}
/** temp ends **/

/*** Game ends ***/

/*** Form ***/
#form h2{
  font-size:23px;
  text-align: center;
  margin-top:0;
  margin-bottom:25px;
}
#form > div > div > div{
  padding-top:70px;
  padding-bottom:70px;
}
.text-field input{
  width:100%;
  padding:7px 15px;
  border: 1px #ccc solid;
  border-radius: 7px;
  color:#111;
}
.text-field input:focus{
  outline: none !important;
  border-color:#337ab7;
}

.text-field{
  padding:7px 45px;
}
@media screen and (max-width:767px){
  .text-field{
    padding:7px 10px;
  }
}

input[type="submit"]{
  font-weight: 700;
  background-color:#1b998b;
  border:none;
  -webkit-appearance: none;

  height:120px;
  width:120px;
  font-size:24px;

  border-radius:50%;

  position: absolute;
  bottom:-60px;
  left:50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.25);
          box-shadow: 0 0 0 rgba(0,0,0,0.25);
  -webkit-transition: background 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: background 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  -o-transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}
input[type="submit"]:focus{
  outline: none !important;
}
input[type="submit"]:hover{
  outline: none !important;
  background-color: #1fa899;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
          box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
{
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 45px;
  padding-top: 7px;
  padding-bottom: 15px;
  /*margin-bottom: 30px;*/
  margin-top: 10px;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
}
[type="checkbox"] + label a{
  text-decoration: underline;
}
[type="checkbox"] + label a:hover{
  color:#b2a500;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 11px;
  width: 30px; height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;

}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: '\f00c';
  position: absolute;
  top: 20px; left: 7px;
  font-size: 18px;
  line-height: 0.8;
  color: #eecf0d;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/*** Form ends ***/


/*** Footer ***/
footer{
  padding-top:120px;
  padding-bottom:15px;
  text-align: center;
}
footer img{
  width:120px;
}
/*** Footer ends ***/

/*** Thank you styles ***/
.logo-row-thankyou{
  padding-top:0;
  position: absolute;
  bottom:40px;
  left:0;
  right:0;
  text-align: center;
}
.logo-link img{
  width:40px;
  margin-right:10px;
}
.logo-link img + b{
  line-height: 40px;
}
.white {
  color:#fff;
}

@media screen and (max-width:660px){
  .thankyou-content h1{
    font-size:35px;
  }
}

/** POPUP MODAL **/

#popupModal .modal-content{
  background-color:#506a85;
  color:#fff;
  text-align: center;
}
#popupModal .modal-body{
  position: relative;
}
#popupModal .modal-body h2{
  font-size:37px;
  margin-top:40px;
  margin-bottom:10px;
}
#popupModal .modal-body p{
  font-size:25px;
  margin-bottom:30px;
}
#popupModal .modal-body button{
  position: absolute;
  right:10px;
  top:4px;
  color:#fff;
  opacity:1;
  line-height: 0.8;
  font-size:30px;
}
#popupModal .modal-body input[type='email']{
  margin-bottom:70px;
  width:70%;
  padding:7px 15px;
  border: 1px #ccc solid;
  border-radius: 7px;
  color:#111;
}

#popupModal .modal-body input[type='email']:focus{
  outline: none !important;
  border-color:#337ab7;
}
/** POPUP MODAL END **/

/*** Thank you styles end ***/

/** Game starts from here **/
.gameleft {
	position: relative;
	height: 26em;
}
.centertext {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.centertext img{
	width: 40%;
}
.centertext h3{
	color: #1b998b;
}
.centertext p{
	font-weight: bold;
}

.imgcomp{
	width: 30%;
}
.imgcomp:hover{
	width: 31%;
}

.imgleft {
	position: absolute;
	left: 5px;
}

.imgright {
	position: absolute;
	right: 5px;
}

.centergame {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.centergame img{
  width:66%;
}

.centergame p{
	font-weight: bold;
}

.centergame h3{
	color: #1b998b;
}

.gameright {
	background-color: #1b998b;
	color: white;
	border-radius: 25px;
	height: 26em;
}
.gamebtn {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #1fa799;
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
	}
.gamebtn:hover {
	background-color: #198377;
}
.gamebtn:active {
	background-color: #23b0a1;
	top: +2px;
}
.gbtn {
	color: #198377;
}

.nextbtn{
	display: none;
	top: 75%;
	position: relative;
	padding: 30px 0px 0px 0px;
}

/** transformations **/
#quest2 {
	display: none;
}
#quest3 {
	display: none;
}

#answers1{
	padding: 40px;
}

#answers2{
	display: none;
	padding: 20px 40px 20px 40px;
}
#answers3{
	display: none;
}

#popup1{
	display: none;
}

#popup2{
	display: none;
}

#popup3{
	display: none;
}
/** transformations ends **/

/** optimizing for mobile phones '**/
@media screen and (max-width: 480px){
  .game {
    padding-top: 0px;
  }
  .gameright {
    border-radius: 0px;
    height: 100%;
  }
  .gameleft {
    height: 17em;
  }
  .game img {
    width: 40%
  }
  .popupmb {
    height: 23em;
  }
  .nextbtn{
    top: 70%;
  }
  .c-l-mb{
    top: 40%;
  }
  .imgbetween {
    position: relative;
    top: 55%;
  }
  }
/** optimizing for mobile phones ends**/
/*** Game ends ***/
